@import "tailwindcss";

@font-face {
    font-family: "fuente";
    src: url("./assets/fonts/Bukhari Script.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fuente2";
    src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sloganGrande";
    src: url("./assets/fonts/handelson-two.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sloganPequeño";
    src: url("./assets/fonts/FingerPaint-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo";
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color_principal: ##f5f1e8;
    --color_bordes: #000000;
    --color_texto: #000000;
    --warning: #FF0000;
    --success: #00FF00;
    --danger: #FF8000;
}