<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>Sagas Creadas</title>
    </head>
    <body>
        <div class="contenido d-flex flex-column sagas_creadas_pg">
            {% include "pagina/boton_crear_historia.html" %}
            {% include "pagina/header.html" %}
            <div class="d-flex flex-column sagas_creadas " >
                <h1>Sagas Creadas</h1>
                <div id="listaSagas"></div>
            </div>
        </div>
        {% include "pagina/footer_pagina.html" %}
    </body>
    {% include 'scripts.html' %}
    <script type="module" defer src="{{ url_for('static', filename='JS/function_sagas_creadas.js') }}"></script>
</html>