<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>Sagas Creadas</title>
    </head>
    <body>
        <div class="contenido d-flex flex-column sagas_creadas_pg">
            {% include "pagina/header.html" %}
            
            <div class="d-flex flex-column sagas_creadas " >
              <h1>Sagas Creadas</h1>
              hola
              <div id="listaSagas"></div>
            </div>
        </div>
        {% include "registrarse/footer_inicio.html" %}
    </body>
    {% include 'scripts.html' %}
</html>