{% extends "layouts/estructura.html"%}

{% block title %}TeleRin{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_perfil.css') }}">
{% endblock css %}

{% block header %}
<input class="input input_con_fondo letra_claras" placeholder="Buscar" style="width: 20vw;">
<a class="foto_perfil" style="width: 7em" href="{{ url_for('perfil') }}"><img src="{{ url_for('perfil_img', filename=session['usuario']['foto_perfil_usuario']) }}"></a>
{% endblock header %}

{% block main %} 
<main id="perfil" class="main_con_menu_lateral">
    {% include "layouts/menu_lateral.html" %}
    <div class="perfil_container">
        <section class="informacion">
            <a class="foto_perfil foto_perfil_en_perfil" id="editar_foto_perfil_boton">
                <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <img style="z-index: 2;" src="{{ url_for('perfil_img', filename=session['usuario']['foto_perfil_usuario']) }}">
            </a>

            <form class="informacion_usuario" id="informacion_del_usuario">
                <h4>Editar Datos</h4>
                <div class="contenedor_datos">
                    <div class="columna">
                        <input class="input input_sin_fondo letra_claras" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre Usuario" style="width: 100%" value="{{ session['usuario']['nombre_usuario'] }}">
                        <div> 
                            <select class="input input_sin_fondo letra_claras" id="pais" name="pais" style="width: 50%"> </select>
                            <select class="input input_sin_fondo letra_claras" id="genero" name="genero" style="width: 50%"></select>
                        </div>
                        <button id="boton_guardar_datos" class="boton boton_fondo" style="width: 100%">Editar</button>
                    </div>
                    <div class="columna">
                        <textarea class="input input_sin_fondo letra_claras" name="descripcion" id="Descripcion" placeholder="descripcion">{{ session['usuario']['descripcion_personal'] }}</textarea>
            
                        <div id="json_mensaje_datos"></div>
                    </div>
                </div>
            </form>
        </section>
        <section id="sagas_creadas"></section>
        <section id="historial">
            <h4>Historial</h4>
            <div>
                {% if not historial %}
                    <h2>No has visto ninguna historia</h2>
                {% endif %}
                {% for historia in historial %}
                    <div class="historia_historial" data-id="{{ historia['id_historia'] }}">
                        <div class="titulo_historia_historial">
                            <h3>{{ historia["nombre_historia"] }}</h3>
                        </div>
                        <div class="descripcion_historia_historial">
                            <p>{{ historia["descripcion_historia"] }}</p>
                            <small><i>{{ historia["fecha_actualizacion"] }}</i></small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
<div class="fondo_oscuro oculto"></div>
<div id="cambiar_foto_perfil_container" class="cambiar_foto_perfil_container oculto">
    <div class="cerrar"><img id="cerrar" src="{{ url_for('static', filename='iconos/x.png') }}"></div>
    <a class="foto_perfil" style="height: 60%">
        <img id="cambiar_foto_perfil_img" src="{{ url_for('perfil_img', filename=session['usuario']['foto_perfil_usuario']) }}">
    </a>
    <form id="formulario_cambiar_foto_perfil">
        <input type="file" name="foto_perfil" id="foto_perfil_input">
        <button type="submit" id="boton_cambiar_foto_perfil" class="boton boton_fondo" name="Cambiar">Cambiar</button>
        <div id="json_mensaje_cambiar_foto_perfil"></div>
    </form>
</div>


{% endblock main %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='JS/function_menu_lateral.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='JS/function.js') }}"></script>
{% endblock scripts %}
