{% extends "layouts/estructura.html" %}

{% block title %}{{ saga['nombre_saga'] }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_saga.css') }}">
{% endblock css %}

{% block header %}
<input class="input input_con_fondo letra_claras" placeholder="Buscar" style="width: 20vw;">
<a class="foto_perfil" style="width: 7em" href="{{ url_for('perfil') }}"><img src="{{ url_for('perfil_img', filename=session['usuario']['foto_perfil_usuario']) }}"></a>
{% endblock header %}

{% block main %}
<main id="saga" class="main_con_menu_lateral">
    {% include "layouts/menu_lateral.html" %}
    <div class="saga_container">
        <section class="saga_info">
            <div class="foto_perfil saga_foto" style="height: 100%;">
                <img src="{{ url_for('fotos_saga', filename=saga['imagen_saga']) }}">
            </div>
            <div class="informacion_saga_texto">
                <div class="informacion_saga_texto_principal">
                    <div>
                        <h2>{{ saga['nombre_saga'] }}</h2>
                        <small>Autor: {{ autor['nombre_usuario'] }}</small>
                    </div>
                    <p>{{ saga['descripcion_saga'] }}</p>
                </div>
                <div class="libros_de_saga">
                    <h3>Libros de la saga</h3>
                    <div id="libros_saga_container" class="libros_saga_container">
                        {% if not historias %}
                            <p>No hay historias en esta saga</p>
                        {% endif %}
                        {% for libro in historias %}
                            <div class="libro_saga" data-id="{{ libro['id_historia'] }}">
                                <h4>{{ libro['nombre_historia'] }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock main %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='JS/function_saga.js') }}"></script>
{% endblock scripts %}
