<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>{{ saga["nombre_saga"] }}</title>
</head>
<body>
    <div class="contenido d-flex flex-column inicio_secciones">
        {% include "pagina/boton_crear_historia.html" %}
        {% include "pagina/header.html" %}
        <div class="seccion_inicio">
            <div class="orden_info_usuario">
                <div class="info_usuarios_seccion">
                    <div class="imagen_usuario_foto">
                        <img src="{{ url_for('fotos_saga', filename = saga['imagen_saga']) }}" class="foto_perfil_ampliada_usuario_seccion">
                    </div>
                    <div class="info_usuario_text">
                        <h2>{{ saga["nombre_saga"] }}</h2>
                        <p> {{ saga["descripcion_saga"] }}</p>
                        <div>
                            <p>Aut@r: {{ saga["correo_usuario"] }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="carrucel historiasCR">
                    <div class="historias_creadas_lista">
                        {% for historia in historias %}
                            <div class="historia"><strong>Nombre: {{ historia["nombre_historia"] }}</strong><small> Ultima Actualizacion: {{ historia["fecha_actualizacion"] }}</small></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% include "pagina/footer_pagina.html" %}
</body>
{% include 'scripts.html' %}

</html>