{% extends "layouts/estructura.html" %}

{% block title %}{{ saga['nombre_saga'] }}{% endblock title %}

{% block main %}
<main id="saga" class="main_con_menu_lateral">
    {% include "layouts/menu_lateral.html" %}
    <div class="saga_container">
        <section class="informacion saga_info">
            <div class="foto_perfil saga_foto">
                <img src="{{ url_for('fotos_saga', filename=saga['imagen_saga']) }}">
            </div>
            <div class="informacion_saga_texto">
                <div>
                    <h1>{{ saga['nombre_saga'] }}</h1>
                    <small>Autor: {{ autor['nombre_usuario'] }}</small>
                </div>
                <p>{{ saga['descripcion_saga'] }}</p>
            </div>
        </section>
        <section>
            <div>
                hola
            </div>
        </section>
    </div>
</main>
{% endblock main %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='JS/function_saga.js') }}"></script>
{% endblock scripts %}
