<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>{{ usuario["nombre_usuario"] }}</title>
</head>
<body>
    <div class="contenido d-flex flex-column usuario_pagina">
        {% include "pagina/boton_crear_historia.html" %}
        {% include "pagina/header.html" %}
        <div class="orden_info_usuario">
            <div class="info_usuarios_seccion">
                <div class="imagen_usuario_foto">
                    <img src="{{ url_for('perfil_img', filename=usuario['foto_perfil_usuario']) }}" class="foto_perfil_ampliada_usuario_seccion">
                </div>
                <div class="info_usuario_text">
                    <h2>{{ usuario["nombre_usuario"] }}</h2>
                    <p> {{ usuario["correo_usuario"] }}</p>
                    <div>
                        <p>Genero: {{ genero }}</p>
                        <p>Pais: {{ pais }} </p>
                    </div>
                </div>
            </div>
            <div class="carrucel" data-correo="{{ usuario['correo_usuario'] }}">
                <div class="carrucel_sagas_recomendadas ">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                        <div class="carousel-inner carrucel_sagas" id="carousel_inner"></div>
                    </div>
                    
                    <div class="carousel-controls-bottom">
                        <button class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                    
                        <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% include "pagina/footer_pagina.html" %}
</body>
{% include 'scripts.html' %}
</html>