{% extends "layouts/estructura.html" %}

{% block title %}Inicio{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_index.css') }}">
{% endblock css %}

{% block header %}
<a class="boton boton_fondo" href="{{ url_for('registrarse') }}">Registrarse</a>
<a class="boton boton_fondo" href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a>
{% endblock header %}

{% block main %}
<main id="index">
    <!--contenedor de el lienzo rive-->
    <div id="morris_container" style="bacground-color: var(--color2);">
        <canvas id="canvas" width="500" height="500"></canvas>

        <script src="https://unpkg.com/@rive-app/canvas"></script>
        <script>
        const r = new rive.Rive({
            src: "{{ url_for('static', filename='objetos_rive/morris_saludo.riv') }}",
            canvas: document.getElementById("canvas"),
            autoplay: true,
            // artboard: "Arboard", // Optional. If not supplied the default is selected
            stateMachines: "State Machine 1",
            onLoad: () => {
            // Ensure the drawing surface matches the canvas size and device pixel ratio
            r.resizeDrawingSurfaceToCanvas();
            },
        });
        </script>

        <div id="morris_dialogo">
            Bienvenido,¿eres nuevo por aqui?
        </div>
    </div>

    <!-- Contenedor que guardará la forma de la ola -->
    <div class="wave">
        <svg  viewBox="23 36 100 130" preserveAspectRatio="none">
            <defs>
                <linearGradient id="layoutGradient" x1="100%" y1="0%" x2="0%" y2="0%">
                    <stop offset="0%" stop-color="var(--color1)" />
                    <stop offset="4%" stop-color="var(--color1)" />
                    <stop offset="100%" stop-color="var(--color1_1)" />
                </linearGradient>
            </defs>
            <path
            fill="url(#layoutGradient)"
            d="M20.591069,34.551117 109.23737,33.504113 C46.845165,104.29711 172.06085,96.153525 99.465334,174.15158 l-77.47826,0.69801 z"/>
            <foreignObject x="25" y="60" width="60" height="100">
                <div class="wave-text" xmlns="http://www.w3.org/1999/xhtml">
                Publica eso que te daría pena leer en voz alta.
                </div>
            </foreignObject> "hi"
        </svg>
    </div>
</main>
{% endblock main %}

{% block footer %}
    <a href="{{url_for('index')}}">Inicio</a>
    <a href="{{url_for('registrarse')}}">Registrarse</a>
    <a href="{{url_for('iniciar_sesion')}}">Iniciar Sesion</a>
{% endblock footer %}