<!DOCTYPE html> 
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>Cambiar Contraseña</title>
    </head>
    <body>
        <div class="contenido">
        <div class="degradado degradado_izquierda" style="opacity: 1;"></div>
        <div class="muñeco_proximamente">
            <div class="titulo">
            <img src="{{ url_for('static', filename='logo_temporal.jpg')}}">
            <h1>TeleRin</h1>
            </div>
        </div>
        <div class="ingresar_datos">
            <h2>Cambiar Contraseña</h2>
            <form method="post" action="/cambiarContrasena" class="formulario">
                <div class="fila_ingresar">
                    <input class="input_ingresar" name="contraseña_usuario" type="password" required placeholder="Contraseña" maxlength="255" minlength="8">
                </div>
                <button type="submit" class="boton" name="Cambiar contraseña">Cambiar contraseña</button>
                
                <div class="fila_ingresar">
                    <div id="json_mensaje" ></div>
                </div>

            </form>
        </div>
        </div>

        {% include "registrarse/footer_inicio.html" %}
    </body>
    {% include 'scripts.html' %}
    <script type="module" src="{{ url_for('static', filename='JS/function_cambiar_contraseña.js') }}"></script>
</html>
