<!DOCTYPE html> 
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>Registrarse</title>
    </head>
    <body>
        <div class="contenido">
        <div class="muñeco_proximamente">
            <div class="titulo">
            <img src="{{ url_for('static', filename='logo_temporal.jpg')}}">
            <h1>TeleRin</h1>
        </div>
        </div>
        <div class="ingresar_datos">
            <h2>Iniciar Sesion</h2>
            <form method="post" action="/verificar_codigo" class="formulario">
                <div class="fila_ingresar">
                    <label for="codigo_usuario" >Ingrese el codigo de verificacion:</label>
                    <input class="input_ingresar" name="codigo_usuario" id="codigo_usuario" type="number" required placeholder="Codigo" maxlength="255" minlength="8">
                </div>
                <button type="submit" class="boton">Iniciar Sesion</button>
                
                {% with mensajes = get_flashed_messages(with_categories=true) %}
                    {% if mensajes %}
                        {% for categoria, mensaje in mensajes  %}
                            <div class="fila_ingresar">
                                <div class="mensaje mensaje-{{ categoria }}">{{ mensaje }}</div>
                            </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                
            </form>
        </div>
        </div>

        {% include "registrarse/footer_inicio.html" %}
    </body>
</html>