<!DOCTYPE html> 
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>Iniciar Sesion</title>
    </head>
    <body>
        <div class="contenido">
            <div class="muñeco_proximamente">
                <div class="titulo">
                <img src="{{ url_for('static', filename='logo_temporal.jpg')}}">
                <h1>TeleRin</h1>
                </div>
            </div>
            <div class="ingresar_datos">
                <h2>Iniciar Sesion</h2>
                <form class="formulario" id="formulario_iniciar_sesion">
                    <div class="fila_ingresar">
                        <input class="input_ingresar" name="correo_usuario" type="email" required placeholder="Correo" maxlength="100">
                    </div>
                    <div class="fila_ingresar">
                        <input class="input_ingresar" name="contrasena_usuario" type="password" required placeholder="Contraseña" maxlength="255" minlength="8">
                    </div>
                    <button type="submit" class="boton" name="Iniciar Sesion">Iniciar Sesion</button>
                    <div class="fila_ingresar" id="olvidar_contraseña" data-url="{{ url_for('enviar_codigo', correo=session['correo_usuario'], direccion='cambiar_contrasena') }}"> 
                    </div>
                    

                    <div class="fila_ingresar">
                        <div id="json_mensaje"></div>
                    </div>

                    
                </form>
            </div>
        </div>

        {% include "registrarse/footer_inicio.html" %}
    </body>
    {% include 'scripts.html' %}
    <script type="module" src="{{ url_for('static', filename='JS/function_iniciar_sesion.js') }}"></script>
</html>