:root {
    --color1: rgb(255, 94, 0);
    --color2: rgb(255, 123, 0);
    --color3: rgb(255, 170, 60);
    /*estos 3 colores son para el degrade del svg de inicio por que estos no admiten linear-gradient*/
    --color_layout: linear-gradient(-90deg, var(--color1) 0%, var(--color2) 50%, var(--color3) 100%);
    --color_letras_claras: #eae1d7;
    --color_letras_oscuras: #000;
    --color_fondo: #ffffe7;
    --color_borde_botones: #8a13ff;
    --color_botones: #1388ff;
    --color_botones_presionado: #8a13ff;
    --color_bordes: #2D0F04;
    --color_contraste: #1388ff;
    --color_contraste_claro: #1388ff;
    --color_hashtag: #73ff00;
}