* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.contenedor {
    min-height: 110vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color_fondo);
}

.oculto {
    display: none;
    visibility: hidden;
    ;
}

.mensaje {
    margin-top: 1%;
    align-self: center;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-size: 150%;
    animation: desaparecer 5s linear 3s 1 forwards;
}

.mensaje_flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50vw;
    font-size: 200%;
    background-color: var(--color_contraste);
    border: 2px solid var(--color_bordes);
    z-index: 1000;
}

@keyframes desaparecer {
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
    }
}

.mensaje-warning {
    border-color: #FF0000;
    color: #FF0000;
}

.mensaje-success {
    border-color: #00FF00;
    color: #00FF00;
}

.mensaje-danger {
    border-color: #FF8000;
    color: #FF8000;
}


/* ------------------------------------------------------------------------ */


/* HEADER */

.header {
    background: var(--color_layout);
    color: var(--color_letras_claras);
    height: 20vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1%;
    width: max-content;
    height: 90%;
}

.logo img {
    width: auto;
    height: 100%;
}

.logo h1 {
    font-size: 4em;
}

.opciones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}


/* FIN HEADER */


/* ------------------------------------------------------------------------ */


/* FOOTER */

.footer {
    background: var(--color_layout);
    color: var(--color_letras_claras);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    gap: 5%;
}

.contenido_footer {
    flex: 2;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
}

#fecha_actualizacion {
    flex: 1;
    width: 100%;
    border-top: 2px solid var(--color_bordes);
}


/* FIN FOOTER */


/* ------------------------------------------------------------------------ */


/* SCROLL */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color_botones);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color_botones_presionado);
}

*::-webkit-scrollbar-track {
    background: var(--color_borde_botones);
}


/* FIN SCROLL */


/* ------------------------------------------------------------------------ */


/* BOTONES */

.boton {
    width: max-content;
    max-width: 15vw;
    min-width: 10vw;
    text-decoration: none;
    height: max-content;
    max-height: 10vh;
    min-height: 5vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.boton_fondo {
    background-color: var(--color_botones);
    border: 3px solid var(--color_borde_botones);
    color: var(--color_letras_oscuras);
}

.boton_fondo:hover {
    background-color: var(--color_botones_presionado);
    cursor: pointer;
    color: var(--color_letras_claras);
}

.boton_sin_fondo {
    background-color: transparent;
    border: 3px solid var(--color_borde_botones);
    color: var(--color_letras_oscuras);
    text-shadow: 2px 2px 1px var(--color_letras_claras);
}

.boton_sin_fondo:hover {
    border-color: var(--color_botones_presionado);
    cursor: pointer;
    color: var(--color_letras_claras);
    text-shadow: 2px 2px 1px var(--color_letras_oscuras);
}

.cargando {
    animation: palpitar .5s linear infinite;
}

@keyframes palpitar {
    from {
        background-color: var(--color_botones);
    }
    to {
        background-color: var(--color_botones_presionado);
    }
}


/* FIN BOTONES */


/* ------------------------------------------------------------------------ */


/* INPUT */

.input {
    height: 8vh;
    max-height: 10vh;
    min-height: 8vh;
    padding: 1%;
    font-size: 1.5em;
}

.input_sin_fondo {
    background-color: transparent;
    border: 3px solid var(--color_borde_botones)
}

.input_con_fondo {
    background: var(--color_contraste);
    border: 3px solid var(--color_borde_botones);
}

.letra_claras {
    color: var(--color_letras_claras);
}

.letra_oscuras {
    color: var(--color_letras_oscuras);
}

.contenedor_contrasena {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2%;
}

.contenedor_contrasena img {
    height: 5vh;
    max-height: 10vh;
    width: auto;
    background-color: var(--color_botones);
    border-radius: 20px;
}

.contenedor_contrasena img:hover {
    background-color: var(--color_botones_presionado);
    cursor: pointer;
}

.contraseña_segura {
    height: 12px;
    border: 1px solid var(--color_bordes);
    width: 70%;
    border-radius: 50px;
    margin: 10px;
    margin-top: 0;
    box-sizing: border-box;
    padding: 1px 2px 1px 2px;
}

.barra {
    height: 100%;
    width: 0;
    transition: width 0.5s ease;
    border-radius: 50px;
}


/* FIN INPUT */


/* CARDS */

.cardvertical {
    aspect-ratio: 3/1;
    display: flex;
    gap: 5%;
    padding: 3%;
}

.cardvertical .foto_card_vertical {
    aspect-ratio: 1/1;
    height: 100%;
    overflow: hidden;
}

.cardvertical .card-body {
    display: flex;
    flex-direction: column;
    gap: 5%;
}


/* FIN CARDS */

/* MENU LATERAL */

.main_con_menu_lateral {
    display: grid;
    grid-template-columns: 10vh 1fr
}

#menu_lateral {
    background: var(--color_contraste);
    padding: 5%;
}

#menu_lateral ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#menu_lateral li {
    border-bottom: 2px solid var(--color_bordes);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5%;
    cursor: pointer
}

#menu_lateral svg {
    fill: var(--color_letras_claras)
}

#menu_lateral svg:hover {
    fill: var(--color_contraste_claro);
    stroke: var(--color_letras_claras);
}

#menu_lateral li:hover {
    border-bottom: 3px solid var(--color_letras_claras);
    padding: 0;
}

/* FIN MENU LATERAL */


/* INICIO FOTO PERFIL */
.foto_perfil {
    display: inline-block;
    aspect-ratio: 1 / 1 !important;
    overflow: hidden;
}

.foto_perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color_bordes)
}

/* FIN FOTO PERFIL */

/* CERRAR */
.cerrar {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cerrar img {
    height: 100%;
    width: auto;
}

.cerrar img:hover {
    cursor: pointer;
    animation: girar 0.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* FIN CERRAR */


