/* INDEX.html */

#index {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIN INDEX.html */
/*control de el svg de inicio*/

.wave {
    position: relative;
    /* referencia para posicionar elementos encima */
    width: 100%;
    /* Hace que el contenedor ocupe todo el ancho disponible
       de la sección o del elemento padre */
}

.wave svg {
    width: 50%;
    /* El SVG se estira para ocupar todo el ancho
       del contenedor .wave */
    height: 70%;
    /* Hace que el SVG use todo el alto disponible
       del contenedor */
    display: block;
    /* Los SVG por defecto se comportan como elementos inline
       (como el texto). Esto puede generar pequeños espacios
       debajo del elemento.
       Con display:block eliminamos ese espacio y el SVG
       se comporta como un bloque normal. */
}

.wave {
    fill: var(--color_layout);
}

.wave-text {
    position: absolute;
    /* permite colocarlo encima del svg */
    top: 40%;
    /* baja el texto a la mitad */
    right: 60%;
    /* lo mueve al centro horizontal */
    color: white;
    font-size: 40px;
    font-weight: bold;
}