/* Tarjeta principal (más grande) */
.personalizar{
    width: 80vw;
    height: 70vh;
    border-radius: 16px;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFFFFF;
    color: #000000;
}

.personalizar h2 {
    margin: 2%;
}

.card {
    padding: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Título más grande */

.card h2 {
    font-size: 28px;
    margin-bottom: 30px;
}


#paletas {
    grid-column: 1/2;
    grid-row: 2/3;
    border-left: 3px solid var(--color_bordes);
    border-top: 3px solid var(--color_bordes);
}

#crear_paleta {
    grid-row: 2/3;
    grid-column: 2/3;
    border-left: 3px solid var(--color_bordes);
    border-top: 3px solid var(--color_bordes);
}


#crear_paleta_personalizada {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#crear_paleta_personalizada div {
    width: 80%;
    margin: 3%;
}

#crear_paleta_personalizada input[type="color"] {
    width: 100%;
}

/* Grid de paletas */

.iconos {
    width: 80%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2%;
    border: 3px solid var(--color_bordes);
    border-radius: 8px;
    margin: 5%;
}

.icono {
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: transform .2s, box-shadow .2s;
}


/* Hover */

.icono:hover {
    transform: scale(1.15);
}


/* Paleta seleccionada */

.icono.activo {
    box-shadow: 0 0 0 4px #333;
}