/* SAGA.html */
.saga_container {
    display: grid;
    grid-template-rows: 60vh 1fr;
    padding: 5%;
    gap: 5%;
}
 


.saga_info {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2em;
    align-self:initial;
    background-color: var(--color_contraste);
    display: flex;
    padding: 2%;
    gap: 2%;
}

.saga_foto {
    min-width: 30%;
}

.saga_foto img {
    border-radius: 20px;
}

.informacion_saga_texto {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.informacion_saga_texto_principal {
    grid-column: 1/2;
    padding: 2%;
}

.informacion_saga_texto_principal small {
    font-size: .5em;
    color: var(--color_letra_clara)
}

.informacion_saga_texto_principal div {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.informacion_saga_texto_principal p {
    margin: 0;
    font-size: .8em;
}


.libros_de_saga {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 1%;
    
}

#libros_saga_container {
    border: 3px solid var(--color_bordes);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    flex: 1;
    padding: 1%;
    gap: 1%;
}

.libro_saga {
    background: var(--color3);
    border: 2px solid var(--color_bordes);
    border-radius: 8px;
    padding: 2%;
    cursor: pointer;
    display: flex;
    gap: 2%;
    transition: border-radius .3s, background-color .3s;
}

.libro_saga:hover {
    background-color: var(--color1);
    border-radius: 20px;
}

/* FIN SAGA.html */