/* PERFIL */

.perfil_container {
    display: grid;
    grid-template-rows: 60vh auto auto auto;
    padding: 5%;
    gap: 2%;
}

.informacion {
    grid-column: 1/2;
    grid-row: 1/2;
    background: var(--color_contraste);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; 
    padding: 2%;
    border-radius: 20px;
    gap: 2%;
}

.foto_perfil_en_perfil {
    grid-column: 1/2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.foto_perfil_en_perfil img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.foto_perfil_en_perfil svg:hover {
    cursor: pointer;
    opacity: 0.9;
}

.foto_perfil_en_perfil svg {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 3;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.foto_perfil_en_perfil svg:hover {
    cursor: pointer;
}

.informacion_usuario {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    gap: 5%;
    border: 3px solid var(--color_bordes);
    border-radius: 20px;
    padding: 5%;
    height: 100%;
    
}

.informacion_usuario .contenedor_datos {
    display: flex;
    gap: 5%;
    height: 100%;
}


.informacion_usuario .columna {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 50%;
    height: 100%;
}

.informacion_usuario .columna div {
    display: flex;
    align-items: center;
    gap: 5%;
}

.informacion_usuario .columna textarea {
    resize: none;
    min-height: 42% !important;
    width: 100%;
}

.informacion_usuario h4 {
    font-size: 2em;
}

.contenedor_inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* FIN PERFIL */
/* CAMBIAR FOTO PERFIL */

.fondo_oscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.cambiar_foto_perfil_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 25vw;
    height: 85vh;
    background: var(--color_layout);
    border: 3px solid var(--color_bordes);
    top: 7.5vh;
    left: 37.5vw;
    z-index: 10;
    border-radius: 20px;
    padding: 1%;
    gap: 2%;
}

.cambiar_foto_perfil_container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    overflow: hidden;
}

/* FIN CAMBIAR FOTO PERFIL */

/* HISTORIAL */

#historial {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 2%;
    background-color: var(--color_contraste);
    padding: 2%;
    border-radius: 20px;
}

.historial_container {
    display: flex;
    gap: 2%;
    width: 100%;
    overflow-x: scroll;
    height: 45vh;
}

.historia_historial {
    border: 3px solid var(--color_bordes);
    border-radius: 20px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 40vh;
    max-height: 45vh;
    width: 15vw;
    cursor: pointer;
    transition: font-size 0.5s ease;
}

.historia_historial:hover .titulo_historia_historial {
    background-color: var(--color_botones_presionado);
    border-radius: 8px;
}

.historia_historial:hover {
    font-size: 1.1em;
}

.titulo_historia_historial {
    font-size: 1.5em;
    border-bottom: 3px solid var(--color_bordes);
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.descripcion_historia_historial {
    display: flex;
    flex-direction: column;
    gap: 1%;
    justify-content: space-between;
    height: 100%;
}