<!DOCTYPE html> 
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>Registrarse</title>
    </head>
    <body>
        <div class="contenido">
        <div class="degradado degradado_izquierda" style="opacity: 1;"></div>
        <div class="muñeco_proximamente">
            <div class="titulo">
            <img src="{{ url_for('static', filename='logo_temporal.jpg')}}">
            <h1>TeleRin</h1>
            </div>
        </div>
            <div class="ingresar_datos">
                <h2>Registrarse</h2>
                <form id="formularioRegistrarse" class="formulario">
                    <div class="fila_ingresar">
                        <input class="input_ingresar" name="nombre_usuario" type="text" required placeholder="Nombre De Usuario" maxlength="100">
                    </div>
                    <div class="fila_ingresar">
                        <input class="input_ingresar" name="correo_usuario" type="email" required placeholder="Correo" maxlength="100">
                    </div>
                    <div class="fila_ingresar">
                        <input class="input_ingresar" name="contraseña_usuario" type="password" required placeholder="Contraseña" maxlength="255" minlength="8">
                    </div>
                    <button type="submit" class="boton" name="Registrarse">Registrarse</button>

                    <div class="fila_ingresar ">
                        <div id="json_mensaje"></div>
                    </div>
                    
                </form>
            </div>
        </div>

        {% include "registrarse/footer_inicio.html" %}
    </body>
    {% include 'scripts.html' %} 
    <script type="module" src="{{ url_for('static', filename='JS/function_registrarse.js') }}" ></script>
</html>
