<header class="header_tt">
    <div class="header">
        <div class="header usuario_logo_header">
            <div class="menu_usuario_caja" id="foto_perfil_caja">
                {% if imagen_url %}
                    <img src="{{ imagen_url }}" alt="Imagen subida" class="menu_usuario">
                {% endif %}
            </div>
            
            <div class="mas_opciones">
                <div class="barra"></div>
                <div class="barra"></div>
                <div class="barra"></div>
            </div>
        </div>
        <div class=" header marca">
            <h1 class="titulo_marca">TeleRin</h1>
            <img src="{{ url_for('static', filename='logo_temporal.jpg')}}" class="logo_header">
        </div>
    </div>
    <div class="secciones">
        <nav>
            <ul>
                <li>seccion1</li>
                <li>seccion2</li>
                <li>seccion3</li>
            </ul>
        </nav>
    </div>
</header>
<div class="ingresar_info_usuario" >
    <div class="cerrar"><img src="{{ url_for('static', filename='iconos/x.png')}}" alt="Cerrar" class="cerrar_ventana" type="button"></div>
    <div class="parte1_menu">
        <div class="menu_usuario_caja foto_perfil_caja" id="foto_perfil_cambiar">
            {% if imagen_url %}
                <img src="{{ imagen_url }}" alt="Foto de perfil" class="menu_usuario foto_perfil">
            {% endif %}
        </div>
        <div class="info_nombres">
            <h2> {{ usuario["nombre_usuario"] }} </h2>
            <p> {{ usuario["correo_usuario"] }} </p>
        </div> 
    </div>
    <div class="informacion_adicional">
        <form action="#" method="post">
            <select id="pais" class="select2">
            </select>
        </form>
    </div>
</div>
