{% extends "layouts/estructura.html" %}

{% block title %}Inicio{% endblock title %}

{% block header %}
<a class="boton boton_fondo" href="{{ url_for('registrarse') }}">Registrarse</a>
<a class="boton boton_fondo" href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a>
{% endblock header %}


{% block main %}
<main id="index">
    <div class="pantalla_inicio">
        TeleRin
    </div>
    
</main>
{% endblock main %}

{% block footer %}
    <a href="{{url_for('index')}}">Inicio</a>
    <a href="{{url_for('registrarse')}}">Registrarse</a>
    <a href="{{url_for('iniciar_sesion')}}">Iniciar Sesion</a>
{% endblock footer %}