<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>Iniciar Sesion</title>
    </head>
    <body class="body_registrarse">
        <div class="contenido_registrarse">
        <div class="muñeco_proximamente">
            <div class="titulo_registrarse">
            <img src="{{ url_for('static', filename='logo_temporal.jpg')}}">
            <h1>TeleRin</h1>
            </div>
        </div>
        <div class="registrarse_caja">
            <h2>Registrarse</h2>
            <form method="post" action="/inicio_usuario" class="formulario_ingresar">
                <div class="fila_ingresar">
                    <input class="input_ingresar" name="correo_usuario" id="correo_usuario" type="email" required placeholder="Correo" maxlength="100">
                </div>
                <div class="fila_ingresar">
                    <input class="input_ingresar" name="contrasena_usuario" id="contraseña_usuario"  required placeholder="Contraseña" maxlength="255" minlength="8">
                </div>
                <button type="submit" class="boton_ingresar">Registrarse</button>
                
                {% with mensajes = get_flashed_messages(with_categories=true) %}
                    {% if mensajes %}
                        {% for categoria, mensaje in mensajes  %}
                            <div class="fila_ingresar">
                                <div class="mensaje-ingresar mensaje-{{ categoria }}">{{ mensaje }}</div>
                            </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                
            </form>
        </div>
        </div>

        {% include "footer_inicio.html" %}
    </body>
</html>