<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>inicio</title>
</head>
<body>
    <h1>Hi {{ usuario["nombre_usuario"] }}</h1>

    {% if imagen_url %}
        <img src="{{ imagen_url }}" alt="Imagen subida">
    {% endif %}
    <form method="post" action="/guardar_foto" enctype="multipart/form-data">
        <label for="imagen">Selecciona una foto para subir:</label>
        <input type="file" name="imagen" id="imagen" accept="image/*" required>
        <button type="submit">Subir Foto</button>
    </form>
    {% with mensajes = get_flashed_messages(with_categories=true) %}
        {% if mensajes %}
            {% for categoria, mensaje in mensajes  %}
                <div class="fila_ingresar">
                    <div class="mensaje mensaje-{{ categoria }}">{{ mensaje }}</div>
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    {% include "registrarse/footer_inicio.html" %}
</body>
</html>