{% extends "layouts/estructura.html" %}

{% block title %}Codigo De Verificacion{% endblock title %}

{% block header %}
<a class="boton boton_fondo" href="{{ url_for('registrarse') }}" name="Registrarse">Registrarse</a>
<a class="boton boton_fondo" href="{{ url_for('iniciar_sesion') }}" name="Iniciar Sesion">Iniciar Sesión</a>
{% endblock header %}


{% block main %}
<main id="Codigo_Verificacion" class="ingreso">
    <form id="formularioCodigoVerifiacion" class="formulario_ingreso">
        <h2>Codigo De Verificacion</h2>
        <div class="contenedor_inputs" style="width: 80%;">
            <label for="codigo_usuario" >Ingrese el codigo de verificacion:</label>
            <input autocomplete="off" class="input input_sin_fondo letra_claras" name="codigo_usuario" id="codigo_usuario" type="number" required placeholder="Codigo" maxlength="255" minlength="8" style="width: 100%;">
            <button class="boton boton_fondo" type="submit" name="Comprobar Codigo">Comprobar Codigo</button>
            <div id="json_mensaje"></div>
        </div>
    </form>
</main>
{% endblock main %}

{% block footer %}
    <a href="{{url_for('index')}}">Inicio</a>
    <a href="{{url_for('registrarse')}}">Registrarse</a>
    <a href="{{url_for('iniciar_sesion')}}">Iniciar Sesion</a>
{% endblock footer %}


{% block scripts %}
<script type="module" src="{{ url_for('static', filename='JS/function_codigo_verificacion.js') }}"></script>
{% endblock scripts %}