<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/crear_saga.css') }}">
    </head>
    <body>
        <div class="contenedor">
        
        <div class="card">

            <div class="imagen">
            <img id="imagen_saga" src="{{ url_for('fotos', filename='perfil/defu.webp') }}" alt="Perfil">
            </div>

            <h2 id="titulo_saga">Crear saga</h2>

            <form id="info_saga">
                <input id="saga_name" type="text" placeholder="Nombre de la saga">
                <textarea id="saga_descrip" placeholder="Descripción de la saga"></textarea>

                <button type="submit">crear</button>
            </form>

        </div>

        </div>
    </body>
</html>