{% extends "layouts/estructura.html" %}

{% block title %}Registrarse{% endblock title %}

{% block header %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <p>¿Ya tienes una cuenta?</p>
    <a class="boton boton_fondo" href="{{ url_for('iniciar_sesion') }}" name="Iniciar Sesion">Iniciar Sesion</a>
</div>
{% endblock header %}


{% block main %}
<main id="Registrarse" class="ingreso">
    <form id="formularioRegistrarse" class="formulario_ingreso">
        <h2>Registrarse</h2>
        
        <div class="contenedor_inputs" style="width: 80%;">
            <input class="input input_sin_fondo letra_claras" name="nombre_usuario" type="text" required placeholder="Nombre De Usuario" maxlength="100" style="width: 100%;">

            <input autocomplete="off" class="input input_sin_fondo letra_claras" name="correo_usuario" type="email" required placeholder="Correo" maxlength="100" style="width: 100%;">
            <div class="contenedor_contrasena">
                <input class="input input_sin_fondo letra_claras" autocomplete="off" name="contraseña_usuario" type="password" required placeholder="Contraseña" maxlength="255" minlength="8" style="width: 90%;">
                <img src="{{ url_for('static', filename='iconos/eye.svg')}}" alt="Mostrar Contraseña" class="mostrar_contraseña" id="mostrar_contraseña">
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                <p style="font-size: 1em; margin-bottom: 0;">Contraseña segura</p>
                <div class="contraseña_segura">
                    <div class="barra"></div>
                </div>
            </div>
            <button class="boton boton_fondo" type="submit" name="Registrarse">Registrarse</button>
            <div id="json_mensaje"></div>
        </div>
    </form>
</main>
{% endblock main %}

{% block footer %}
    <a href="{{url_for('index')}}">Inicio</a>
    <a href="{{url_for('registrarse')}}">Registrarse</a>
    <a href="{{url_for('iniciar_sesion')}}">Iniciar Sesion</a>
{% endblock footer %}


{% block scripts %}
<script type="module" src="{{ url_for('static', filename='JS/function_registrarse.js') }}" ></script>
{% endblock scripts %}